<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Api.CommonProtos" version="1.6.0" targetFramework="net461" />
  <package id="Google.Api.Gax" version="2.6.0" targetFramework="net461" />
  <package id="Google.Api.Gax.Grpc" version="2.6.0" targetFramework="net461" />
  <package id="Google.Api.Gax.Grpc.Gcp" version="2.6.0" targetFramework="net461" />
  <package id="Google.Apis" version="1.38.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.38.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.38.0" targetFramework="net461" />
  <package id="Google.Cloud.Bigtable.Admin.V2" version="1.0.0-beta05" targetFramework="net461" />
  <package id="Google.Cloud.Bigtable.Common.V2" version="1.0.0-beta05" targetFramework="net461" />
  <package id="Google.Cloud.Bigtable.V2" version="1.0.0-beta05" targetFramework="net461" />
  <package id="Google.Cloud.Iam.V1" version="1.2.0" targetFramework="net461" />
  <package id="Google.LongRunning" version="1.1.0" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.7.0" targetFramework="net461" />
  <package id="Grpc" version="1.19.0" targetFramework="net461" />
  <package id="Grpc.Auth" version="1.19.0" targetFramework="net461" />
  <package id="Grpc.Core" version="1.19.0" targetFramework="net461" />
  <package id="Grpc.Core.Api" version="1.19.0" targetFramework="net461" />
  <package id="Grpc.Gcp" version="1.1.1" targetFramework="net461" />
  <package id="Grpc.Tools" version="1.19.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net461" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
</packages>